@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap');

html,
body {

  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.font-baloo{
  font-family: "Baloo Thambi 2",cursive;
}

.font-rale{
  font-family: "Raleway",cursive;
}

.font-rubik{
  font-family: "Rubik",cursive;
}
.font-crimson{
  font-family: 'Crimson Pro', serif;
}

.header {
  position: relative;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.navigation {
  position: relative;
  height: 5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  height: 5rem;
  padding: 0 1rem;
}

.nav__logo img {
  width: 200px;
  margin-top: .5rem;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 100%;
}


.nav__hamburger {
  display: none;
  cursor: pointer;
}
.nav__item a{
  color: white;
}

.icon__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid rgb(0, 0, 0);
  background-color: #368A5A;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.home-nav{
  margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
.home-nav,.search{
  display: none;
}
.nav__logo{
  width: 50%;
}
.nav__logo img{
  width: 200px;
}

}

#nav__down{
  height: 3rem;
  background-color: black;
  color: white;
}

.menu__top{
  display: none;
}

.nav__list{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-inline: 20%;

}
@media only screen and (max-width: 900px) {
  .nav__list{
    margin-inline: 5%;
  
  }
}

.nav__item:not(:last-child){
  margin-right: 5rem;
  color: white;
}

.nav__list .nav__link:link,
.nav__list .nav__link:visited {
    display: inline-block;
    text-transform: uppercase;
    color: white;
}
.nav-menu-show{
  width: 100%;
}

@media only screen and (max-width: 600px) {

  #nav__down{
    height: 0;
  }
  .nav-menu-show{
    position: fixed;
    top:0;
    left: -20rem;
    width: 0;
    background-color: black;
    z-index: 9999;

  }
  .nav-menu-show.open{
    left: 0;
    margin-top: 5rem;
    width: 100%;
    height: 100%;
  }

  .menu__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
  }
  .nav__list{
    flex-direction: column;
    align-items: start;
    padding: 1.6rem 1rem;
  }
  .nav__hamburger {
    display: block;
    margin-top: 0.7rem;
}

}

.close__toggle{
  margin: 1rem;
}

.search-input{
    height: 40px;
    width: 75%;
    border-radius: 5px;
    background-color: rgba(0,0,0,1)

}
.has-search .form-control {
  padding-left: 3.375rem;
  padding-right: 3rem;
  color: darkgray;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 3.55rem;
  text-align: center;
  pointer-events: none;
  color: grey ;
  padding-left: 1rem;
}

@media only screen and (max-width:1200px) {
  .search-input{
     width: 200px; 
  }
}
@media only screen and (max-width:1000px) {
  .search-input{
     width: 200px; 
  }
  .nav__menu{
    width: 60%;
  }
}


  .nav__menu {
      position: fixed;
      top: 0;
      left: -50rem;
      background-color: rgba(0,0,0,.6);
      z-index: 9990;
      height: 100%;
      transition: all 0.5s;
  }

  .nav__menu.open {
      left: 0rem;
      width: 40%;

  }


.news{
  margin-top: 10rem;
}

img{
  width: 100%;
}

.row {
  margin-right: 5rem;
  margin-left: 5rem;
  display: flex;
}
.youtubeClips{
  margin-right: 5rem;
  margin-left: 5rem;
}

@media only screen and (max-width: 1000px) {
.row,.youtubeClips{
  margin-right: 0;
  margin-left: 0;
}
}
@media only screen and (max-width: 600px) {
  .row{
    display: block;
  }
  }

.text__news{
  color: black;
  height: 150px;
}

.title{
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.lgfgYE{
  display: flex;
}
.lgfgYE::after {
  content: "";
  border-bottom: 0.15rem solid rgb(0, 0, 0);
  flex: 1 1 0%;
  margin-left: 0.5rem;
  position: relative;
  top: calc(-0.375rem);
}

.clips{
  margin: 2rem 5rem;
}

.album{
  margin: 2rem 0rem;
}

.source{
  color: black;
  font-family:'Times New Roman', Times, serif;
  margin-left: 1rem;
}
.author{
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
  color: black;
}
.quote__author{
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
  color: black;
}
.quote__author-status{
  color: rgb(148, 147, 147);
}
.date{
  color: rgb(148, 147, 147);
}
.content__news{
  text-transform: none;
  display: block;
  margin-bottom: 8px;
  overflow: hidden;
  width: 100%;
  font-weight: 400;
  color: #434343;
  height: 220px;
  line-height: 2rem;
}
@media only screen and (max-width: 1100px) {
  .content__news{
    height: 150px;
  }
  }
.image__news{
  padding-top: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: whitesmoke;
  padding:7px;
}
@media only screen and (max-width:1100px) {
  .grid-container {
      grid-template-columns: auto auto;
  }
}
@media only screen and (max-width:630px) {
  .grid-container {
      grid-template-columns: auto;
  }
}

.grid-container > div {
  background-color: white;
  text-align: center;
}

.quote__section{
  width: 80%;
  margin: 0 auto;
  padding: 2px;
  background-color: #eaab00; 
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  position: relative;
  text-align: center;
}

.quote__section-content{
  background: white;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font: 700 18px Merriweather,serif;
}

.quote__section-label{
  background-color: #ffffff;
  color: #737373;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 0 20px;
  position: absolute;
  right: 40%;
  top: -4px;
  z-index: 0;
}

.image_item{
  width: 80px;
}

.item__album{
  width: 208px;
  margin-right: 20px;
}
@media only screen and (max-width:1200px) {
  .item__album{
    width: 172px;
    margin-right: 20px;
  }
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 700px;
  perspective: 1000px;
  color: #fff;
}

.card-inner {
  position: relative;
  width: 40rem;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.image__album{
  width: 94%;
}

.albums{
  margin-top: 0rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.album__details,.artist__details{
  margin-top: 3.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.album__description{
  margin-top: 3rem;
}
.album__description img{
  border: yellow solid;
    border-radius: 3%;
}
@media only screen and (max-width: 767px) {
.album__description img{
  width:70% ;
}
}
.artist__description img{
  position: relative;
  top: 40%;
  border-radius: 50%;
  border: yellow solid;
  width: 50%;
  left: 30%;
}
.top__projects{
  margin-top: 6rem;
  display: block;
}
.image__project{
  width: 280px;
}
.project__format{
  color: green;
    text-transform: uppercase;
    font-size: 14px;
}
@media only screen and (max-width: 800px) {
  .artist__description img{
      top: 50%;
      width: 60%;
  }

}
@media only screen and (max-width: 400px) {
  .artist__description img{
      top: 80%;
      width: 70%;
  }

}
@media only screen and (max-width: 600px) {
  .artist__description img{
      top: 60%;
      width: 65%;
  }

}
.artist__description{
  width: 50%;
}
.artist__infos{
  width: 50%;
}

@media only screen and (max-width: 1000px) {
.albums,
.album__details{
  margin-right: 0;
  margin-left: 0;
}

}
.album__name{
  font-family: "Baloo Thambi 2",cursive;
  display: block;
}
.album__artist{
    display: block;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
}
.album__date{
  color: #666;
  display: block;
  font-weight: 500;
}
.header_with_cover_art {
    position: relative;
    background: rgba(0,0,0,.6);
    padding: 2.25rem 0 1.5rem 0;
    z-index: 0;
    color: #fff;
}
.header_with_cover_artist{
  position: relative;
    background: rgba(0,0,0,.6);
    padding: 2.25rem 0 1.5rem 0;
    z-index: 0;
    color: #fff;
    display: flex;
}
.album__format{
  color: #fffb06;
  text-transform: uppercase;
}
.followers{
  color: #ff1464;
  margin-right: 0.5rem;
}
.artist-title{
  margin-top: 9rem !important;
  
}

.album__description .album__name{
  font-size: 30px;
}

.album__description .album__artist{
  font-size: 28px;
}

.album__description .album__date{
  color: #ddd;
  font-size: 14px;
}


.album__tracklist{
  margin-top: 3rem;
}
.artist__name{
  font-family: "Baloo Thambi 2",cursive;
  display: block;
  font-size: 34px;
}
.artist__status{
  color: #fffb06;
    text-transform: uppercase;
}

.tracklist{
    font-family: "Lobster Two";
    text-transform: none;
    font-weight: 400;
    font-size: 30px;
}

.search__result{
  margin: 1rem;
}
.result{
  margin: 1rem;
  display: flex;
}

.result img{
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.result span{
  margin-top: .5rem;
  font-size: 20px;
}

.selected.item a{
  color: #000000;
}
.ui.dropdown>.dropdown.icon{
  display: none;
}
.ui.dropdown .menu>.item a{
  color: #000000;
}

.close__SearchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid rgb(133, 133, 133);
  background-color: #000000;
  border-radius: 5%;
}
.album-title{
  margin-top: 2rem !important;
}
@media (min-width: 768px){
.tracklist p {
    columns: 2;
}
}

.tracklist__item{
  margin: 1rem;
  font-size: 20px;
  column-count: 2;
}

.border{
  position: relative;
}
.border::after{
  content: '';
    display: block;
    width: 50px;
    height: 5px;
    background: #009400;
    margin-top: 1rem;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

@media only screen and (max-width: 500px) {
  .quote__section-label{
    right: 10%;
  }
}

.autoContainer{
  background-color: white;
  color: black;
  font-family: "Baloo Thambi 2",cursive;
}
/*
=======
footer
=======
*/
.footer{
  background-color: #5e6163;
  padding: 3rem 1rem;
  line-height: 3rem;
  margin-top: 5rem;
}


.footer__top{
  padding-left: 5rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  color: #ccc;
}

.footer-top__box a:link,
.footer-top__box a:visited{
  display: block;
  color: white;
  font-size: 1.4rem;
  transition: 0.6s;
}
.footer-top__box a:hover{
  color: #1cab74;
}
.footer-top__box div{
  color: white;
  font-size: 1.4rem;
}
.footer-top__box h3{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family:"Baloo Thambi 2",cursive;
}
.footer-top__box p{
  font-size: 1.2rem;
  margin-right: 10rem;
  color: white;
}
.footer-top__box span{
  font-size: 1.1rem;
  margin-right: 1rem;
}
.logo{
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.socialMedia{
  display: flex;
  justify-content: space-between;
}
.socialMedia span{
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.copyrights{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.socialMedia span img{
 width: 2rem;
 fill: white;
 margin: 1rem;
}

@media only screen and (max-width: 998px){
  .footer__top{
      grid-template-columns: repeat(2,1fr);
      grid-gap: 2rem;
  }
}
@media only screen and (max-width: 768px){
  .footer__top{
      grid-template-columns: 1fr;
  }
}
.card-inner{
  height: 700px;
}
@media only screen and (max-width: 570px){
  .card-front {
    width: 100%;
    height: 100%;
  }
  .card-inner{
    width: 95%;
    height: 500px;
  }
  .card-front img{
    height: 100%;
  }
  .card-back .table{
    font-size: 10px;
  }
  .table tr td img {
    width: 40px;
  }
  .card{
    height: 500px;
  }
}


.form__input{
  display: flex;
  justify-content: initial;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.table>thead:first-child>tr:first-child>th {
  border-top: 0;
}
.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
th {
  text-align: left;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}
@media (min-width:768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
      float: left
  }

  .col-sm-12 {
      width: 100%
  }

  .col-sm-11 {
      width: 91.66666667%
  }

  .col-sm-10 {
      width: 83.33333333%
  }

  .col-sm-9 {
      width: 75%
  }

  .col-sm-8 {
      width: 66.66666667%
  }

  .col-sm-7 {
      width: 58.33333333%
  }

  .col-sm-6 {
      width: 50%
  }

  .col-sm-5 {
      width: 41.66666667%
  }

  .col-sm-4 {
      width: 33.33333333%
  }

  .col-sm-3 {
      width: 25%
  }

  .col-sm-2 {
      width: 16.66666667%
  }

  .col-sm-1 {
      width: 8.33333333%
  }
}

.grid-container>div {
  margin-top: 2rem;
}

